/* ///////////////////////////////////////////////////////////
17. breadcrumb
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;

.eb-breadcrumb{
    &-area {
        background-color: #f5f5fb;
        margin:0 24px;
        border-radius: 20px;
        position: relative;
        z-index: 1;
    }
    &-wrap {
        max-width: 1630px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 203px;
        @media #{$md}{
            padding-top: 183px;
        }
    }
    &-img {
        position: relative;
        z-index: auto;
        margin-top: -35px;
        @media #{$sm}{
            margin-top: 0;
        }
        img {
            width: 100%;
        }
    }
    &-content {
        position: relative;
        z-index: 1;
        text-align: center;
        h1 {
            color: rgb(0, 0, 0);
            font-family: $dmSans;
            font-size: 70px;
            font-weight: 500;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 22px;
            @media #{$lg}{
                font-size: 60px;
            }
            @media #{$md}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
                margin-bottom: 17px;
            }
            @media #{$xxs}{
                font-size: 36px;
            }
        }
    }
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-family: $dmSans;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            color: var(--clr-theme-primary-2);
            @media #{$xs}{
                font-size: 15px;
            }
            @media #{xxs}{
                font-size: 14px;
            }
            &::before {
                display: inline-block;
                content: "\2f";
                font-family: "Font Awesome 6 Pro";
                color: #010915;
                font-size: 14px;
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        a {
            font-family: $dmSans;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            color: #010915;
            @media #{xs}{
                font-size: 15px;
            }
            @media #{xxs}{
                font-size: 14px;
            }
            &:hover {
                color: var(--clr-theme-primary-2);
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            left: 18%;
            top: 8%;
            @media #{$xl}{
                top: 10%;
            }
            @media #{$lg}{
                top: 15%;
            }
            @media #{$md}{
                display: none;
            }
        }
        &-2 {
            position: absolute;
            left: 3%;
            bottom: 13%;
            @media #{$xl}{
                bottom: 10%;
            }
            @media #{$md}{
                bottom: 7%;
                left: 2%;
            }
            @media #{$md}{
                display: none;
            }
        }
        &-3 {
            position: absolute;
            right: 20%;
            top: 27%;
            @media #{$xl}{
                top: 30%;
            }
            @media #{$lg}{
                top: 40%;
            }
            @media #{$md}{
                display: none;
            }
        }
    }
}
