
/* ///////////////////////////////////////////////////////////
16. error
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;

.eb-error {
    &-area {
        padding-bottom: 24px;
    }
    &-wrap {
        background: #E3E8EA;
        margin-left: 24px;
        margin-right: 24px;
        border-radius: 30px;
        padding-top: 210px;
        padding-bottom: 80px;
        position: relative;
        min-height: 955px;
        height: calc(100vh - 24px);
        @media #{$sm}{
          padding-top: 180px;
          min-height: 700px;
        }
    }
    &-info {
        a {
            border-radius: 10px;
            background: var(--clr-theme-primary-2);
            height: 50px;
            display: inline-flex;
            align-items: center;
            color: rgb(255, 255, 255);
            font-family: $inter;
            font-size: 15px;
            font-weight: 600;
            padding: 0 45px;
        }
    }
}


.eb-error-img {
    margin-bottom: 42px;
  }
  .eb-error-info h4 {
    color: rgb(0, 0, 0);
    font-family: $dmSans;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.25;
    text-transform: uppercase;
    @media #{$xs}{
      font-size: 26px;
    }
    @media #{$xxs}{
      font-size: 22px;
    }
  }
  .eb-error-info p {
    color: rgba(16, 16, 16, 0.6);
    font-family: $inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 38px;
  }

  
.eb-error-shape-1 {
    position: absolute;
    left: 335px;
    top: 120px;
    @media #{$sm}{
      display: none;
    }
  }
  .eb-error-shape-2 {
    position: absolute;
    left: 60px;
    bottom: 80px;
    @media #{$sm}{
      display: none;
    }
  }
  .eb-error-shape-3 {
    position: absolute;
    right: 170px;
    top: 290px;
    @media #{$sm}{
      display: none;
    }
  }