/* ///////////////////////////////////////////////////////////
15. faq
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;

.eb-faq {
    &-content {
        .accordion {
            &-item {
                overflow: hidden;
                background: #fff;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
            &-button {
                position: relative;
                padding-left: 24px;
                padding-right: 54px;
                padding-top: 20px;
                padding-bottom: 20px;
                cursor: pointer;
                box-shadow: none;
                background: #fff;
                border-radius: 0 !important;
                border: 0;

                color: rgb(0, 0, 0);
                font-family: $dmSans;
                font-size: 18px;
                font-weight: 700;
                @media #{$xxs}{
                    font-size: 16px;
                }
                &::after {
                    display: none;
                }
                &::before {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "\f107";
                    font-family: "Font Awesome 6 Pro";
                    @include transition(.3s);
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.6);
                    
                    width: 32px;
                    height: 32px;
                    line-height: 31px;
                    text-align: center;
                    font-size: 14px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    @media #{$xs}{
                        right: 20px;
                    }
                }
                &:not(.collapsed) {
                    &::before {
                        border-color: transparent;
                        background-color: #008B5D;
                        color: #fff;
                        content: "\f106";
                        line-height: 31px;
                    }
                }
            }
            &-body {
                padding: 0 40px 24px 24px;
                background: #fff;
                p {
                    color: rgba(0, 0, 0, 0.6);
                    font-family: $inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 0;
                }
            }
        }
    }
    &-img {
        &.mr-30 {
            @media #{$xl}{
                margin-right: 20px;
            }
            @media #{$lg}{
                margin-right: 0;
            }
        }
    }
    &-wrap {
        &.ml-20 {
            @media #{$xl}{
                margin-left: 0;
            }
        }
    }
}