/* ///////////////////////////////////////////////////////////
21. footer
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;

// home 1 css start

.eb-footer {
    &-headline {
        background: #f5f5fb;
        padding-top: 30px;
        padding-bottom: 30px;
        @media #{$xxs}{
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &-content {
            display: flex;
            align-items: center;
            gap: 24px;
            h2 {
                display: flex;
                align-items: center;
                gap: 24px;
                margin-bottom: 0;
            }
        }
        &-title {
            color: #000;
            font-family: $dmSans;
            font-size: 50px;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            @media #{$xs}{
                font-size: 40px;
            }
            @media #{$xxs}{
                font-size: 30px;
            }
            &.eb-title-2 {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
            }
        }
        a {
            border: none;
            display: flex;
            align-items: center;
            background-color: transparent;
            span {
                background-color: var(--clr-theme-primary-2);
                height: 54px;
                display: flex;
                align-items: center;
                color: #FFF;
                font-family: $inter;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                padding: 0 34px;
                border-radius: 14px;
                @media #{$xs}{
                    height: 50px;
                    padding: 0 32px;
                }
                @media #{$xxs}{
                    height: 46px;
                    padding: 0 30px;
                }
                &:first-child {
                    padding: 0 21px;
                    @media #{$xs}{
                        padding: 0 19px;
                    }
                    @media #{$xxs}{
                        padding: 0 17px;
                    }
                }
            }
        }
    }
    &-wrap {
        background-color: #f5f5fb;
        padding-left: 24px;
        padding-right: 24px;
    }
    &-top {
        background: #141414;
        position: relative;
        z-index: 1;
        border-radius: 30px 30px 0px 0px;
    }
    &-shape {
        position: absolute;
        left: 0;
        top: 0;
        @media #{$xxl}{
            max-width: 90px;
            width: 100%;
        }
        @media #{$lg}{
            max-width: 80px;
            width: 100%;
        }
    }
    &-address {
        padding-bottom: 20px;
        a {
            display: flex;
            align-items: start;
            color: rgba(255, 255, 255, 0.6);
            font-family: $inter;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            gap: 10px;
            margin-bottom: 15px;
            i {
                color: var(--clr-theme-primary-2);
                margin-top: 5px;
            }
        }
    }
    &-logo {
        margin-bottom: 30px;
        img {
            max-width: 155px;
            width: 100%;
        }
    }
    &-social {
        ul {
            display: flex;
            align-items: center;
            gap: 6px;
            list-style: none;
            li {
                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    border: 1px solid rgba(255, 255, 255, 0.14);
                    border-radius: 10px;
                    color: rgba(255, 255, 255, 0.50);
                    align-items: center;
                    &:hover {
                        background: var(--clr-theme-primary-2);
                        color: #fff;
                        border-color: var(--clr-theme-primary-2);
                    }
                }
            }
        }
    }
    &-widget {
        &-title {
            color: #FFF;
            font-family: $dmSans;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        ul {
            list-style: none;
            li {
                a {
                    color: rgba(255, 255, 255, 0.6);
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    &:hover {
                        color: #fff;
                    }
                }
                &:last-child a {
                    margin-bottom: 0;
                }
            }
        }
        form {
            position: relative;
            z-index: 1;
            input {
                width: 100%;
                height: 50px;
                border: 1px solid rgba(255, 255, 255, 0.14);
                background: transparent;
                border-radius: 10px;
                padding: 0 20px;
                color: #FFF;
                font-family: $inter;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                @include placeholder {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 15px;
                }
            }
            button {
                border: none;
                display: flex;
                align-items: center;
                background-color: transparent;
                span {
                    background-color: var(--clr-theme-primary-2);
                    height: 54px;
                    display: flex;
                    align-items: center;
                    color: #FFF;
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: normal;
                    padding: 0 34px;
                    border-radius: 14px;
                    &:first-child {
                        padding: 0 21px;
                    }
                }
            }
        }
    }
}
.eb-footer {
    &-bottom {
        background: #212224;
        display: flex;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 15px;
    }
    &-copyright-text {
        margin-bottom: 7px;
        @media #{$sm}{
            text-align: center;
        }
        p {
            margin-bottom: 0;
            color: #A1A1A1;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            @media #{$xxs}{
                font-size: 14px;
            }
        }
    }
    &-menu {
        margin-bottom: 7px;
        ul {
            list-style: none;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 21px;
            @media #{$sm}{
                justify-content: center;
            }
            li {
                a {
                    color: #A1A1A1;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    display: block;
                    position: relative;
                    z-index: 1;
                    @media #{$xxs}{
                        font-size: 14px;
                    }
                    &:hover {
                        color: #fff;
                    }
                }
                &:not(:last-child) a{
                    &::before {
                        position: absolute;
                        right: -11px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 14px;
                        width: 1px;
                        background-color: #A1A1A1;
                        content: "";
                    }
                }
            }
        }
    }
}


// home 2 css start

.eb_h2-footer {
    &-top {
        background: #273C41;
    }
    &-logo {
        margin-bottom: 15px;
    }
    &-widget {
        &-text {
            color: rgba(255, 255, 255, 0.60);
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 22px;
        }
        &-social {
            list-style: none;
            display: flex;
            gap: 10px;
            li a {
                width: 40px;
                height: 40px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.14);
                display: grid;
                place-items: center;
                color: #fff;
                &:hover {
                    background: var(--clr-theme-primary-2);
                }
            }
        }
        &-title {
            color: #FFF;
            font-family: $marcellus;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 23px;
            position: relative;
            z-index: 1;
            display: inline-block;
            &::before {
                position: absolute;
                right: 0;
                bottom: 2px;
                content: "";
                background: rgba(255, 255, 255, 0.30);
                height: 5px;
                width: calc(100% - 10px);
            }
        }
        ul {
            list-style: none;
            li {
                a {
                    display: block;
                    position: relative;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    padding-left: 18px;
                    &::before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        content: "";
                        width: 6px;
                        height: 6px;
                        background: rgba(255, 255, 255, 0.30);
                        @include transition(.3s);
                    }
                    &:hover {
                        color: #fff;
                        &::before {
                            background-color: #fff;
                        }
                    }
                }
                &:not(:last-child){
                    a {
                        margin-bottom: 13px;
                    }
                }
            }
        }
        form {
            position: relative;
            z-index: 1;
            input {
                background: transparent;
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.14);
                
                color: #FFF;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                
                width: 100%;
                height: 44px;
                line-height: 44px;
                padding-left: 20px;
                padding-right: 60px;

                @include placeholder {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 15px;
                }
            }
            button {
                position: absolute;
                right: 0;
                top: 0;
                height: 44px;
                width: 44px;
                border-radius: 0px 10px 10px 0px;
                background: var(--clr-theme-primary-2);
                color: #fff;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &-bottom {
        background: #1A2B2F;
        display: flex;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 15px;
    }
    &-copyright-text {
        margin-bottom: 7px;
        @media #{$sm}{
            text-align: center;
        }
        p {
            color: rgba(255, 255, 255, 0.60);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 0;
            @media #{$xxs}{
                font-size: 14px;
            }
        }
    }
    &-menu {
        margin-bottom: 7px;
        ul {
            list-style: none;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 21px;
            @media #{$sm}{
                justify-content: center;
            }
            li {
                a {
                    color: #B0BBBE;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    display: block;
                    position: relative;
                    z-index: 1;
                    &:hover {
                        color: #fff;
                    }
                    @media #{$xxs}{
                        font-size: 14px;
                    }
                }
                &:not(:last-child) a{
                    &::before {
                        position: absolute;
                        right: -11px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 14px;
                        width: 1px;
                        background-color: #B0BBBE;
                        content: "";
                    }
                }
            }
        }
    }
}

.eb_h3-footer-width {
    max-width: 350px;
}

// home 3 css start

.eb_h3-footer {
    &-top {
        background: #101C1F;
        position: relative;
        z-index: 1;
    }
    &-shape {
        &-1 {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    &-address {
        padding-bottom: 20px;
        a {
            display: flex;
            align-items: start;
            color: rgba(255, 255, 255, 0.6);
            font-family: $inter;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            gap: 10px;
            margin-bottom: 15px;
            i {
                color: var(--clr-theme-primary-2);
                margin-top: 5px;
            }
        }
    }
    &-logo {
        margin-bottom: 30px;
        img {
            max-width: 155px;
            width: 100%;
        }
    }
    &-social {
        ul {
            display: flex;
            align-items: center;
            gap: 6px;
            list-style: none;
            li {
                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 6px;
                    color: rgba(255, 255, 255, 0.50);
                    align-items: center;
                    &:hover {
                        background: var(--clr-theme-primary-2);
                        color: #fff;
                        border-color: var(--clr-theme-primary-2);
                    }
                }
            }
        }
    }
    &-widget {
        &-title {
            color: #FFF;
            font-family: $dmSans;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        ul {
            list-style: none;
            li {
                a {
                    color: rgba(255, 255, 255, 0.6);
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    &:hover {
                        color: #fff;
                    }
                }
                &:last-child a {
                    margin-bottom: 0;
                }
            }
        }
        form {
            position: relative;
            z-index: 1;
            input {
                width: 100%;
                height: 50px;
                border: 1px solid rgba(255, 255, 255, 0.14);
                background: transparent;
                border-radius: 10px;
                padding: 0 20px;
                color: #FFF;
                font-family: $inter;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                @include placeholder {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 15px;
                }
            }
            button {
                height: 50px;
                border-radius: 14px;
                background: var(--clr-theme-primary-2);
                border: none;
                padding: 0 35px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #FFF;
                font-family: $inter;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}
.eb_h3-footer {
    &-bottom {
        background: #17282C;
        display: flex;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 15px;
    }
    &-copyright-text {
        margin-bottom: 7px;
        @media #{$sm}{
            text-align: center;
        }
        p {
            margin-bottom: 0;
            color: #A1A1A1;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            @media #{$xxs}{
                font-size: 14px;
            }
        }
    }
    &-menu {
        margin-bottom: 7px;
        ul {
            list-style: none;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 21px;
            @media #{$sm}{
                justify-content: center;
            }
            li {
                a {
                    color: #A1A1A1;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25px;
                    display: block;
                    position: relative;
                    z-index: 1;
                    @media #{$xxs}{
                        font-size: 14px;
                    }
                    &:hover {
                        color: #fff;
                    }
                }
                &:not(:last-child) a{
                    &::before {
                        position: absolute;
                        right: -11px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 14px;
                        width: 1px;
                        background-color: #B0BBBE;
                        content: "";
                    }
                }
            }
        }
    }
}

// home 4 css start

.eb_h4-footer {
    &-area {
        background-color: #1D1D1D;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    &-top {
        position: relative;
        z-index: 1;
        border: 1px solid #414141;
        border-bottom: 0;
        display: grid;
        grid-template-columns: 345px 240px 300px 408px;
        grid-template-columns: 26.7% 18.5% 23.2% 31.6%;
        @media #{$lg}{
            grid-template-columns: 25.7% 20.5% 25.2% 28.6%;
        }
        @media #{$md}{
            grid-template-columns: 50% 50%;
        }
        @media #{$xxs}{
            grid-template-columns: 1fr;
        }
        &-item {
            padding: 50px 50px 50px 45px;
            @media #{$xl}{
                padding: 50px 40px 50px 40px;
            }
            @media #{$lg}{
                padding: 50px 25px 50px 25px;
            }
            &:not(:first-child){
                border-left: 1px solid #414141;
            }
            @media #{$xxs}{
                &:nth-child(2){
                    border-top: 1px solid #414141;
                    border-left: 0;
                }
            }
            @media #{$md}{
                &:nth-child(3){
                    border-top: 1px solid #414141;
                    border-left: 0;
                }
                &:nth-child(4){
                    border-top: 1px solid #414141;
                }
            }
            &.h4-footer-item{
                &-2{
                    padding-top: 42px;
                    padding-bottom: 45px;
                }
                &-3{
                    padding-top: 42px;
                    padding-bottom: 45px;
                }
                &-4{
                    padding-top: 42px;
                }
            }
        }
    }
    &-address {
        padding-bottom: 20px;
        a {
            display: flex;
            align-items: start;
            color: rgba(255, 255, 255, 0.6);
            font-family: $inter;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            gap: 10px;
            margin-bottom: 15px;
            i {
                color: var(--clr-theme-primary-4);
                margin-top: 5px;
            }
        }
    }
    &-logo {
        margin-bottom: 30px;
        img {
            max-width: 155px;
            width: 100%;
        }
    }
    &-social {
        ul {
            display: flex;
            align-items: center;
            gap: 6px;
            list-style: none;
            li {
                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    border: 1px solid rgba(255, 255, 255, 0.14);
                    color: rgba(255, 255, 255, 0.50);
                    align-items: center;
                    &:hover {
                        background: var(--clr-theme-primary-4);
                        color: #fff;
                        border-color: var(--clr-theme-primary-4);
                    }
                }
            }
        }
    }
    &-widget {
        &-title {
            color: #FFF;
            font-family: $dmSans;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        ul {
            list-style: none;
            li {
                a {
                    color: rgba(255, 255, 255, 0.6);
                    font-family: $inter;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 18px;
                    margin-bottom: 18px;
                    display: flex;
                    &:hover {
                        color: #fff;
                    }
                }
                &:last-child a {
                    margin-bottom: 0;
                }
            }
        }
        form {
            position: relative;
            z-index: 1;
            input {
                width: 100%;
                height: 46px;
                border: 1px solid rgba(255, 255, 255, 0.14);
                background: transparent;
                padding: 0 20px;
                color: rgba(255, 255, 255, 0.5);
                font-family: $inter;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                @include placeholder {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 15px;
                }
            }
            button {
                height: 46px;
                background: var(--clr-theme-primary-4);
                border: none;
                padding: 0 25px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #FFF;
                font-family: $inter;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}
.eb_h4-footer {
    &-bottom {
        display: flex;
        align-items: center;
        border: 1px solid #414141;
        padding: 21px 45px 21px 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        @media #{$xl}{
            padding: 21px 40px 21px 40px;
        }
        @media #{$lg}{
            padding: 21px 25px 21px 25px;
        }
        @media #{$sm}{
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: center;
        }
    }
    &-copyright-text {
        p {
            margin-bottom: 0;
            color: #A1A1A1;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            @media #{$xxs}{
                font-size: 14px;
            }
        }
    }
    &-menu {
        ul {
            list-style: none;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 20px;
            li {
                a {
                    color: #A1A1A1;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    display: block;
                    position: relative;
                    z-index: 1;
                    @media #{$xxs}{
                        font-size: 14px;
                    }
                    &:hover {
                        color: #fff;
                    }
                }
                &:not(:last-child) a{
                    &::before {
                        position: absolute;
                        right: -11px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 14px;
                        width: 1px;
                        background-color: #A1A1A1;
                        content: "";
                    }
                }
            }
        }
    }
}


// home 5 

.eb_h5-footer {
    &-top {
        background: #14203A;
    }
    &-logo {
        margin-bottom: 15px;
    }
    &-widget {
        &-text {
            color: rgba(255, 255, 255, 0.60);
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 22px;
        }
        &-social {
            list-style: none;
            display: flex;
            gap: 10px;
            li a {
                width: 40px;
                height: 40px;
                background: rgba(255, 255, 255, 0.14);
                display: grid;
                place-items: center;
                color: #fff;
                &:hover {
                    background: var(--clr-theme-primary-5);
                }
            }
        }
        &-title {
            color: #FFF;
            font-family: $marcellus;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 23px;
            position: relative;
            z-index: 1;
            display: inline-block;
            &::before {
                position: absolute;
                right: 0;
                bottom: 2px;
                content: "";
                background: rgba(255, 255, 255, 0.30);
                height: 5px;
                width: calc(100% - 10px);
            }
        }
        ul {
            list-style: none;
            li {
                a {
                    display: block;
                    position: relative;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    padding-left: 18px;
                    &::before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        content: "";
                        width: 6px;
                        height: 6px;
                        background: rgba(255, 255, 255, 0.30);
                        @include transition(.3s);
                    }
                    &:hover {
                        color: #fff;
                        &::before {
                            background-color: #fff;
                        }
                    }
                }
                &:not(:last-child){
                    a {
                        margin-bottom: 13px;
                    }
                }
            }
        }
        form {
            position: relative;
            z-index: 1;
            input {
                background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.20);
                
                color: rgba(255, 255, 255, 0.60);
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                
                width: 100%;
                height: 44px;
                line-height: 44px;
                padding-left: 20px;
                padding-right: 60px;

                @include placeholder {
                    color: rgba(255, 255, 255, 0.60);
                    font-size: 14px;
                }
            }
            button {
                position: absolute;
                right: 0;
                top: 0;
                height: 44px;
                width: 44px;
                background: var(--clr-theme-primary-5);
                color: #fff;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &-bottom {
        background: #03102D;
        display: flex;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 15px;
    }
    &-copyright-text {
        margin-bottom: 7px;
        @media #{$sm}{
            text-align: center;
        }
        p {
            color: rgba(255, 255, 255, 0.60);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 0;
            @media #{$xxs}{
                font-size: 14px;
            }
        }
    }
    &-menu {
        margin-bottom: 7px;
        ul {
            list-style: none;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 21px;
            @media #{$sm}{
                justify-content: center;
            }
            li {
                a {
                    color: #B0BBBE;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    display: block;
                    position: relative;
                    z-index: 1;
                    &:hover {
                        color: #fff;
                    }
                    @media #{$xxs}{
                        font-size: 14px;
                    }
                }
                &:not(:last-child) a{
                    &::before {
                        position: absolute;
                        right: -11px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 14px;
                        width: 1px;
                        background-color: #B0BBBE;
                        content: "";
                    }
                }
            }
        }
    }
}

