
/* ///////////////////////////////////////////////////////////
03. hero
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;

/* ///////////////////////////////////////////////////////////
Hero CSS o1 Start
/////////////////////////////////////////////////////////// */ 

.eb-hero-single {
    background: #E3E8EA;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 30px;
    padding-top: 156px;
    padding-bottom: 115px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
  }
  .eb-hero-img {
    margin-left: 136px;
    margin-right: 160px;
    margin-top: -67px;
  }
  .eb-hero-img img {
    width: 100%;
  }

  .eb-hero-content-subtitle {
    color: #000;
    font-family: $dmSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
    display: block;
    position: relative;
    z-index: 1;
    padding-left: 16px;
    &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 8px;
        height: 8px;
        background-color: var(--clr-theme-primary);
        border-radius: 50%;
    }
  }
  .eb-hero-content-title {
    color: #000;
    font-family: $dmSans;
    font-size: 70px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .eb-hero-content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
  }
  .eb-hero-content-bottom p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 740px;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .eb-hero-content-bottom a {
    display: flex;
    align-items: center;
  }
  .eb-hero-content-bottom a span {
    background: var(--clr-theme-primary);
    color: #FFF;
    font-family: $inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 14px;
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 34px;
  }
  .eb-hero-content-bottom a span:last-child {
    padding: 0 20px;
  }

  
.eb-hero-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
  }
  .eb-hero-brand {
    margin-top: -75px;
  }


// home 2 css start

.eb_h2-hero {
  &-single {
    background: #E9EAEB;
    padding-top: 140px;
    padding-bottom: 235px;
    position: relative;
    z-index: 1;
  }
  &-shape {
    &-1 {
      position: absolute;
      top: 6%;
      left: 42%;
      transform: translateX(-50%);
      @media #{$sm}{
        display: none;
      }
    }
    &-2 {
      position: absolute;
      left: 12%;
      bottom: 39%;
      @media #{$sm}{
        display: none;
      }
    }
  }
  &-content {
    position: relative;
    z-index: 1;
    &-title {
      position: relative;
      z-index: 1;
      border-top: 1px solid rgba(16, 16, 16, 0.2);
      padding-top: 40px;
      padding-bottom: 40px;
      @media #{$xxs}{
        padding-top: 30px;
        padding-bottom: 30px;
      }
      &::after {
        position: absolute;
        right: 270px;
        top: 0;
        height: 100%;
        width: 1px;
        content: '';
        background-color: rgba(16, 16, 16, 0.2);
        @media #{$xl}{
          right: 240px;
        }
        @media #{$md}{
          right: 200px;
        }
        @media #{$sm}{
          right: 110px;
        }
        @media #{$xs}{
          display: none;
        }
      }
      h1 {
        color: #101010;
        display: block;
        font-size: 100px;
        line-height: 1;
        font-family: $marcellus;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0;
        @media #{$xl}{
          font-size: 85px;
        }
        @media #{$lg}{
          font-size: 65px;
        }
        @media #{$md}{
          font-size: 45px;
        }
        @media #{$sm}{
          font-size: 40px;
        }
        @media #{$xs}{
          font-size: 45px;
        }
        @media #{$xxs}{
          font-size: 30px;
        }
      }
    }
    &-title-2 {
      position: relative;
      z-index: 1;
      border-top: 1px solid rgba(16, 16, 16, 0.2);
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(16, 16, 16, 0.2);
      h1 {
        color: #101010;
        display: block;
        font-size: 100px;
        line-height: 1;
        font-family: $marcellus;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: end;
        @media #{$xl}{
          font-size: 85px;
        }
        @media #{$lg}{
          font-size: 65px;
        }
        @media #{$md}{
          font-size: 40px;
        }
        @media #{$sm}{
          font-size: 50px;
          text-align: start;
        }
        @media #{$xs}{
          font-size: 45px;
        }
        @media #{$xxs}{
          font-size: 30px;
        }
      }
    }
    &-img {
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      width: 150px;
      height: 150px;
      @media #{$xl}{
        width: 120px;
        height: 120px;
      }
      @media #{$md}{
        width: 100px;
        height: 100px;
      }
      @media #{$sm}{
        width: 70px;
        height: 70px;
        right: 20px;
      }
      @media #{$xs}{
        display: none;
      }
    }
    &-admin {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      gap: 15px;
      @media #{$sm}{
        display: none;
      }
      &-img {
        flex-shrink: 0;
      }
      &-info {
        h5 {
          color: #101010;
          font-size: 16px;
          margin-bottom: 4px;
        }
        span {
          display: block;
          color: rgba(16, 16, 16, 0.6);
          font-size: 14px;
          line-height: 24px;
          text-decoration: underline;
        }
      }
    }
  }
}

.eb_h2-hero-bottom {
  display: flex;
  align-items: center;
  column-gap: 55px;
  row-gap: 20px;
  justify-content: center;
  margin-top: 55px;
  flex-wrap: wrap;
  &-ratting {
    ul {
      list-style: none;
      display: flex;
      gap: 5px;
      margin-bottom: 5px;
      li {
        color: #FF911B;
        font-size: 12px;
        line-height: normal;
      }
    }
    span {
      display: block;
      color: #101010;
      font-size: 16px;
      font-weight: 700;
      font-family: $dmSans;
      line-height: 26px;
    }
  }
}

// home 3 css start

.eb_h3-hero {
  &-single {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    padding-top: 210px;
    padding-bottom: 215px;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(3deg, rgba(0, 3, 255, 0.70) 3.51%, rgba(2, 3, 57, 0.14) 83.23%);
      z-index: -1;
    }
  }
  &-shape {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &-content {
    &-subtitle {
      color: #FFF;
      font-family: $dmSans;
      font-size: 15px;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      display: block;
      padding-left: 45px;
      position: relative;
      z-index: 1;
      margin-bottom: 24px;
      @media #{$xxs}{
        font-size: 14px;
        margin-bottom: 20px;
      }
      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 34px;
        height: 6px;
        content: "";
        border-radius: 20px;
        background: #9DFF20;
      }
    }
    &-title {
      color: #FFF;
      font-family: $dmSans;
      font-size: 80px;
      font-weight: 700;
      line-height: 1.125;
      text-transform: uppercase;
      margin-bottom: 48px;
      span {
        color: #9DFF20;
      }
      @media #{$lg}{
        font-size: 70px;
      }
      @media #{$md}{
        font-size: 55px;
      }
      @media #{$sm}{
        font-size: 50px;
        line-height: 1.2;
      }
      @media #{$xs}{
        font-size: 42px;
      }
      @media #{$xxs}{
        font-size: 30px;
        margin-bottom: 40px;
      }
    }
    a {
      border-radius: 6px;
      background: #FFF;
      height: 54px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-family: $inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 0 35px;
      gap: 6px;
    }
  }
  &-social {
    position: absolute;
    left: 30px;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 38px;
    height: 100%;
    justify-content: center;
    align-items: center;
    @media #{$xxl}{
      left: 15px;
    }
    @media #{$xl}{
      left: 10px;
    }
    @media #{$md}{
      display: none;
    }
    span {
      color: #FFF;
      font-family: $dmSans;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      width: 40px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      writing-mode: sideways-lr;
      &::before {
        position: absolute;
        left: 52%;
        top: -24px;
        transform: translateX(-50%);
        content: "";
        background: #fff;
        width: 2px;
        height: 14px;
      }
    }
    ul {
      display: flex;
      list-style: none;
      gap: 8px;
      flex-direction: column;
      li {
        a {
          width: 40px;
          height: 40px;
          border: 2px solid rgba(255, 255, 255, 0.2);
          display: grid;
          place-items: center;
          border-radius: 50%;
          color: #fff;
          &:hover {
            background: #fff;
            border-color: #fff;
            color: #000;
          }
        }
      }
    }
  }
}

.h3_hero {
  &-active {
    position: relative;
    .h3_hero-pagination {
      position: absolute;
      right: 36px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
      left: auto;
      bottom: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      span.swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.24);
        border-radius: 50%;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background-color: #fff;
        }
      }
    }
  }
  
}

// home 4 css start

.eb_h4-hero {
  &-area {
    background: #F0F0F0;
    padding-top: 195px;
  }
  &-subtitle {
    color: rgba(0, 0, 0, 0.7);
    font-family: $dmSans;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    padding-left: 64px;
    @media #{$sm}{
      font-size: 14px;
    }
    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 54px;
      height: 4px;
      content: "";
      border-radius: 10px;
      background: var(--clr-theme-primary-4);
    }
  }
  &-title {
    color: #000;
    font-family: $marcellus;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 80px;
    @media #{$lg}{
      font-size: 70px;
    }
    @media #{$md}{
      font-size: 55px;
      br {
        display: none;
      }
    }
    @media #{$sm}{
      font-size: 48px;
    }
    @media #{$xs}{
      font-size: 42px;
    }
    @media #{$xxs}{
      font-size: 35px;
    }
    span {
      position: relative;
      z-index: 1;
      img {
        position: absolute;
        bottom: -11px;
        left: 0;
        z-index: -1;
      }
    }
  }
  &-wrap {
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 485px;
    align-items: end;
    gap: 80px;
    @media #{$xl}{
      grid-template-columns: 1fr 350px;
    }
    @media #{$lg}{
      gap: 40px;
    }
    @media #{$md}{
      grid-template-columns: 1fr;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &-img {
    img {
      width: 100%;
    }
  }
  &-content {
    @media #{$md}{
      display: grid;
      align-items: center;
      gap: 40px;
      grid-template-columns: 1fr 180px;
      margin-bottom: 25px;
    }
    @media #{$xs}{
      grid-template-columns: 1fr;
      gap: 0;
    }
    p {
      color: rgba(0, 0, 0, 0.6);
      font-family: $dmSans;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 95px;
      @media #{$xxl}{
        margin-bottom: 55px;
      }
      @media #{$lg}{
        margin-bottom: 25px;
      }
      @media #{$md}{
        margin-bottom: 25px;
      }
    }
    a {
      display: block;
      text-align: center;
      position: relative;
      width: 243px;
      margin-right: auto;
      margin-left: auto;
      z-index: 1;
      margin-bottom: 60px;
      animation: animation-upDown 3s linear 0s infinite alternate;
      @media #{$xl}{
        margin-bottom: 40px;
      }
      @media #{$lg}{
        width: 180px;
        margin-bottom: 25px;
      }
      img {
        width: 100%;
        height: 100%;
      }
      svg {
        position: absolute;
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%);
        color: #000;
      }
    }
  }
}
@keyframes animation-upDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(20px);
  }
}

// home 5 css start
.eb_h5-hero {
  &-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 600px;
    padding-top: 215px;
    padding-bottom: 305px;
    position: relative;
    z-index: 1;
    border: 20px solid #fff;
    border-bottom: 0;
    @media #{$xxs}{
      padding-bottom: 160px;
    }
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(12, 47, 54, 0.90) 0.16%, rgba(14, 56, 65, 0.20) 99.75%);
      z-index: -1;
    }
  }
  &-single {
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    @media #{$sm}{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &-content {
    &-subtitle {
      color: rgba(255, 255, 255, 0.60);
      font-family: $inter;
      font-size: 13px;
      font-weight: 500;
      line-height: normal;
      border: 1px solid rgba(255, 255, 255, 0.15);
      height: 30px;
      display: inline-flex;
      align-items: center;
      position: relative;
      z-index: 1;
      padding-left: 27px;
      padding-right: 15px;
      margin-bottom: 15px;
      &::before {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 6px;
        height: 6px;
        background: #fff;
      }
    }
    &-title {
      color: #FFF;
      font-family: $marcellus;
      font-size: 80px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.17;
      margin-bottom: 50px;
      @media #{$xl}{
        font-size: 70px;
      }
      @media #{$lg}{
        font-size: 60px;
      }
      @media #{$sm}{
        font-size: 50px;
        br {
          display: none;
        }
      }
      @media #{$xs}{
        font-size: 40px;
      }
      @media #{$xxs}{
        font-size: 32px;
      }
    }
    &-btn {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      height: 54px;
      background-color: var(--clr-theme-primary-5);
      padding: 0 35px;
      color: #FFF;
      font-family: $inter;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      &:hover {
        color: #fff;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 495px;
    width: 100%;
    position: absolute;
    bottom: 180px;
    left: 27%;
    @media #{$lg}{
      left: 50%;
      transform: translateX(-50%);
    }
    @media #{$xs}{
      max-width: 400px;
    }
    @media #{$xxs}{
      display: none;
    }
    &-text {
      p {
        color: #FFF;
        font-family: $inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
    &-img {
      position: relative;
      z-index: 1;
      flex-shrink: 0;
      overflow: hidden;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        filter: blur(7.5px);
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      a {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        color: #fff;
        text-align: center;
        width: 100%;
        font-size: 24px;
      }
    }
  }
}