
/* ///////////////////////////////////////////////////////////
13. process
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;

// home 3 css start

.eb_h3-process{
  &-item {
    &-icon {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: max-content;
      &-number {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        background: radial-gradient(146.54% 146.36% at 7.61% 1.86%, #F7F7F8 0%, #FAFAFB 51%, #FFF 72%);
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.10);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        &.item-2 {
            h4 {
                color: #FB1E21;
            }
        }
        &.item-3 {
            h4 {
                color: #06B336;
            }
        }
        h4 {
          color: #1E80FC;
          text-align: center;
          font-family: $dmSans;
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-bottom: 0;
          span {
            font-size: 44px;
            line-height: 1;
            display: block;
          }
        }
      }
    }
    p {
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.6);
      font-family: $inter;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      @media #{$lg}{
        br {
          display: none;
        }
      }
    }
    &-head {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;
      h3 {
        color: #101010;
        font-family: $dmSans;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 0;
        &:hover a {
          color: var(--clr-theme-primary-2);
        }
      }
      svg {
        color: #000;
      }
    }
  }
}
.eb_h3-process-item {
  &.item-2{
    @media #{$md}{
      display: grid;
      .eb_h3-process-item {
        &-icon {
          order: 1;
          margin-top: 0;
          margin-bottom: 30px;
        }
        &-content {
          order: 2;
        }
      }
    }
  }
}

// home 5 css start
  
.eb_h5-process {
  &-item {
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 60px 70px 52px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    @media #{$xl}{
      padding: 60px 50px 52px;
    }
    @media #{$lg}{
      padding: 50px 30px 42px;
      gap: 20px;
    }
    @media #{$md}{
      flex-wrap: wrap;
    }
    &-icon {
      flex-shrink: 0;
      svg {
        @media #{$lg}{
          width: 50px;
        }
      }
    }
    &-content {
      h3 {
        font-family: $marcellus;
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 7px;
        font-weight: 400;
        color: #000;
        @media #{$lg}{
          font-size: 24px;
        }
        @media #{$md}{
          font-size: 20px;
        }
      }
      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 25px;
      }
      a {
        font-size: 15px;
        font-weight: 600;
        color: #000;
        display: flex;
        align-items: center;
        gap: 6px;
        &:hover {
          color: var(--clr-theme-primary-5);
        }
      }
    }
  }
}