/* ///////////////////////////////////////////////////////////
09. team
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;

.eb_h2-team {
  &-item {
    &-img {
      margin-bottom: 16px;
      position: relative;
      z-index: 1;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 14px;
        background: rgba(26, 28, 31, 0.60);
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);
      }
      img {
        border-radius: 14px;
        width: 100%;
      }
    }
    &-content {
      h4 {
        color: #000;
        font-family: $dmSans;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 3px;
        &:hover a {
          color: var(--clr-theme-primary-2);
        }
      }
      span {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        display: block;
      }
    }
  }
  &-social {
    list-style: none;
    position: absolute;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    justify-content: center;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    @include transition(.3s);
    li a {
      display: grid;
      place-items: center;
      width: 44px;
      height: 44px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      color: #fff;
      &:hover {
        color: #fff;
        background-color: var(--clr-theme-primary-2);
        border-color: var(--clr-theme-primary-2);
      }
    }
  }
}
.eb_h2-team-item:hover {
  .eb_h2-team-social {
      opacity: 1;
      visibility: visible;
      top: 50%;
  }
  .eb_h2-team-item-img::before {
      opacity: 1;
      visibility: visible;
  }
}


// home 3 css start


.eb_h3-team {
  &-item {
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    &-img {
      img {
        border-radius: 14px;
        width: 100%;
      }
    }
    &-content {
      text-align: center;
      padding: 24px 20px 30px;
      h5 {
        color: #000;
        font-family: $dmSans;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 1px;
        &:hover a {
          color: var(--clr-theme-primary-2);
        }
      }
      span {
        color: rgba(0, 0, 0, 0.6);
        font-family: $inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 12px;
      }
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: center;
        li {
          a {
            width: 34px;
            height: 34px;
            display: grid;
            place-items: center;
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 6px;
            color: #000;
            font-size: 15px;
            &:hover {
              background-color: var(--clr-theme-primary-2);
              color: #fff;
              border-color: transparent;
            }
          }
        }
      }
    }
  }
}


// home 4 css start


.eb_h4-team {
  &-area {
    background-color: #F0F0F0;
  }
  &-img {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &-content {
    h4 {
      color: #000;
      font-family: $dmSans;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 1px;
      &:hover a {
        color: var(--clr-theme-primary-4);
      }
    }
    span {
      color: rgba(0, 0, 0, 0.6);
      font-family: $inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
      display: block;
    }
  }
  &-social {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -50px;
    bottom: 0;
    @include transition(.4s);
    opacity: 0;
    visibility: hidden;
    li a {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      color: #000;
      font-size: 18px;
      &:hover {
        background-color: var(--clr-theme-primary-4);
        color: #fff;
      }
    }
  }
  &-item {
    &:hover {
      ul {
        right: 0;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


.eb_h4-team-head {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  @media #{$xs}{
    justify-content: flex-start;
  }
}
.eb_h4-team-head h2 {
  color: rgba(0, 0, 0, 0.2);
  font-family: $marcellus;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0;
  @media #{$sm}{
    font-size: 40px;
  }
}
.eb_h4-team-head span {
  color: #000;
  font-family: $dmSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  @media #{$sm}{
    font-size: 14px;
    line-height: 22px;
  }
}